/* App.css */

.App {
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between; /* Corrected property value */
  align-items: center;
  position: fixed; /* Position the header fixed at the top */
  top: 0; /* Align it to the top of the viewport */
  width: 100%; /* Make it span the entire width */
}

.body {
  padding-top: 100px; /* Adjust as necessary to leave space for the header */
}

.logo img {
  height: 40px; /* Set the height of the logo */
  width: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Add margin to separate logo from text */
}

h1 {
  margin: 0; /* Remove default margin */
}

footer {
  background-color: #333;
  color: white;
  /* padding: 1rem 0; */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.search-bar {
  margin-top: 1rem;
}


.list-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* max-height: calc(100vh - 250px); Adjust as necessary to leave space for header and footer */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  padding-bottom: 60px; /*Adjust as necessary to leave space for the footer*/
}



/* App.css */

